.slack-search-input {
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: row;
  min-width: 800px;

  .main-input {
    font-size: 18px;
    resize: none;
    width: 400px;
    background: transparent;
    font-family: Arial, sans-serif;
  }


  .hint-menu-container {
    width: 400px;

    .hint-menu {
      background-color: white;
      padding: 10px 14px;
      box-shadow: 0 0 5px 0px #eee;
      border: 1px solid #ccc;
      border-radius: 6px;
      &.with-help {
        width: 360px;
        .help-title {
          font-weight: 600;
          margin: 3px 0 6px 0;
        }
        .help-text {

        }
      }
      .section-header {
        position: relative;
        margin: 2px 0;
        hr {
          width: 100%;
          top: 11px;
          margin: 0 !important;
          position: absolute;
        }
        .header-label {
          text-transform: capitalize;
          color: #999;
          background: white;
          z-index: 20;
          position: relative;
          padding: 0 10px 0 7px;
          font-size: 13px;
          color: #aaa;
        }
      }
    }
  }

  .background-container, .hint-menu.with-help {
    .modifier {
      position: relative;
      z-index: 10;
      &.incomplete:before {
        right: 0;
        border-color: #FFDCB1;
        background: #ffebaa;
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ffebaa),color-stop(1,#fff9dc));
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:before {
        content: ' ';
        position: absolute;
        top: -1px;
        left: 0;
        z-index: -1;
        right: -1px;
        bottom: 0;
        display: block;
        box-sizing: border-box;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #8CD5B7;
        background: #E5F4EE;
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ccecdf),color-stop(1,#e9f6f1));
      }
    }
  }

  .hint-menu.with-help .modifier {
    cursor: pointer;
    border-radius: 3px;
  }

  ul.slack-search-input-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
    position: relative;
    max-height: 220px;
    li {
      margin: 0;
      padding: 2px 8px;
      border-radius: 3px;
      .modifier-value {
        color: #aaa;
      }
      &:hover {
        background-color: #F7F7F7;
      }
      &.current {
        .modifier-value {
          color: #ddd;
        }
        background-color: #399EFF;
        color: white;
      }
    }
  }
}
